body {
    font-family: Arial, sans-serif;
}
* {
    box-sizing: border-box;
}
.form {
    padding: 16px;
    background-color: white;
}
.success {
    color: green;
}
.errormsg{
    font-size: 20px;
    color: #FF0052;
}
input[type=text],input[type=password],input[type=email] {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: 22px;
    margin-left: 0;
    display: inline-block;
    border: none;
    background: whitesmoke;
}
input[type=text]:focus, input[type=email]:focus{
    background-color: #ddd;
    outline: none;
}
input[type=submit]{
    background-color: black;
    color: #fff;
    padding: 16px;
    margin: 8px;
    cursor: pointer;
    border: none;
    width: 100%;
    opacity: 85%;
}
input[type=submit]:hover {
    opacity: 100%;
}
