* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
}
.form {
  padding: 16px;
  background-color: #f4f4f4;
  margin: 0px;
  padding: 50px;
  padding-top: 10px;
}
.success {
  color: green;
}
.errormsg {
  font-size: 20px;
  color: #FF0052;
}
input[type=text],
input[type=password],
input[type=email] {
  width: 100%;
  padding: 15px;
  margin-top: 5px;
  margin-right: 0;
  margin-bottom: 22px;
  margin-left: 0;
  display: inline-block;
  border: none;
  background: #f4f4f4;
}
input[type=text]:focus,
input[type=email]:focus {
  background-color: #f4f4f4;
  outline: none;
}
input[type=submit] {
  background-color: black;
  color: #f4f4f4;
  padding: 16px;
  margin: 8px;
  cursor: pointer;
  border: none;
  width: 100%;
  opacity: 85%;
}
input[type=submit]:hover {
  opacity: 100%;
}
.display-error {
  width: 100%;
  border: 1px solid #f4f4f4;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #f4f4f4;
  color: #d30000;
  text-align: center;
}
